.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo {
  display: flex;
}

.todo > button {
  margin-left: 3vw;
  width: 6vw;
}

.addtask {
  display: flex;
}

.addtask > button {
  margin-left: 3vw;
  width: 6vw;
}